.display {
    display: flex;
    align-items: center;
    flex: 0 344px;

    .artwork {
        width: 31px;
        min-width: 31px;
        height: 31px;
        margin-right: 25px;
        background-size: cover;
        background-position: center;
    }
    .display-info {
        display: flex;
    }
    .record {
        float: left;
        height: 15px;
        width: 15px;
        background-size: cover;
        margin-right: 5px;
        background-image: url('../img/record.png');
    }
    .record.playing {
        animation: rotating 6s linear infinite;
    }

    .is-playing {
        font-size: 11px;
        font-style: italic;
    }
    .empty-song {
        font-size: 25px;
        color: rgb(120,120,120);
    }
    .song-metadata {
        display: flex;
        flex-direction: column;
    }
    .song-metadata .title{
        font-size: 13px;
    }
    .song-metadata .username{
        color: $primary-color;
        font-size: 18px;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


