.scrubber-container {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 10px;
    font-size: 12px;

    .progress-bg {
        cursor: pointer;
        flex: 1;
        height: 3px;
        background-color: #BDBDBD;
        margin: 0 20px;
        border-radius: 10px;
        overflow: hidden;
    }

    .progress-curr {
        background-color: $primary-color;
        height: 100%;
        transition: 0.1s width;
    }
}
