@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import './_display.scss';
@import './_controls.scss';
@import './_scrubber.scss';


body {
    color: white;
    margin: 0;
    font-family: 'Open Sans';
}
p {
    margin: 0;
}
.player-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-color: #111;
    background-position: center;
    filter: blur(15px);
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}
.player-main {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
}

.playlist-nav {
    position: fixed;
}