@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'vars';
@import 'display';
@import 'controls';
@import 'scrubber';
@import 'login';
@import 'home';
@import 'player';


body {
    color: white;
    margin: 0;
    font-family: $main-font;
}
p {
    margin: 0;
}
.main-view {
    background-color: #2a2b2d;
}
.container {
    width: 1190px;
    margin: 0 auto;
}

@media (max-width : 1190px) {
/* Styles */
    .container {
        width: 100%;
    }
}